.calendar_list_item {
  animation: fadeInCalendarItem 2s ease-in-out;
}

@keyframes fadeInCalendarItem {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: none;
  }
}