body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

#root {
  width: 100%;
  height: 100%;
}

.calendar_list_item {
  animation: fadeInCalendarItem 0.2s ease-in-out;
}

@keyframes fadeInCalendarItem {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: none;
  }
}